
body {
  font-family: "Istok Web";
}

.logo {
  width: 120px;
  height: 31px;
  font-family: "Permanent Marker";
  /* background: rgba(212,12,2,.2); */
  margin: 16px 24px 16px 0;
  float: left;
}

.upload-form > .input {
  margin-bottom: 5px;
}

.logo {
  display: flex;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  border: none;
}

.logo .logo:hover {
  /* color: #001529; */
}

.logo > .text {
  color: #001529;
  font-family: "Arial";
  font-style: bold;
}

.ant-btn.btn-link {
  color: #1890FF;
  border: none;
  background: none;
  box-shadow: none;
}
