.logo {
  width: 120px;
  height: 31px;
  background: papayawhip;
  margin: 16px 24px 16px 0;
  float: left;
  border: 1px solid #fff;
}

.upload-form > .input {
  margin-bottom: 5px;
}

.logo {
  display: flex;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  border: none;
}

.logo .logo:hover {
  color: #001529;
}

.logo > .text {
  color: #001529;
  font-family: "Arial";
  font-style: bold;
}
